body {
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto !important;
  overflow-x: hidden;
}
/* start nav style */
.navbar-nav li a {
  font-weight: 500 !important;
  color: black;
}
.navbar-nav li .btn {
  color: white !important;
  font-weight: 500;
  background-color: #4caf4f !important;
  padding: 11px 20px;
  border-radius: 3px !important;
  border: 2px solid #4caf4f;
}
.navbar-nav li .btn:hover {
  background-color: white !important;
  color: #4caf4f !important;
}
/* End nav style */

.h-screen {
  height: 100vh;
}
.carouselSlide {
  padding-bottom: 100px;
}
.hColor {
  color: #455a64 !important;
}
.spanColor {
  color: #4caf4f !important;
}
.box .btn {
  color: white !important;
  font-weight: 500;
  background-color: #4caf4f !important;
  padding: 11px 20px;
  border-radius: 3px !important;
  border: 2px solid #4caf4f !important;
}
.box .btn:hover {
  background-color: #e0e0e0 !important;
  color: #4caf4f !important;
}
.fadeAnimation {
  animation: fadein 0.4s ease-in-out !important;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.fadeAnimationUpDown {
  animation: fadeupdown 3s infinite !important;
}
@keyframes fadeupdown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
.bg-g {
  background-color: #4caf4f !important;
}
.home {
  background-color: #e0e0e0 !important;
}

.box img {
  width: 300px;
}
.fontsize {
  font-size: 45px;
}
@media (max-width: 991px) {
  .box img {
    display: none;
  }
  .fadeAnimationUpDown img {
    display: none;
  }
  .feat {
    display: block !important;
    /* text-align: center; */
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .textmd {
    text-align: center;
    margin-bottom: 36px;
  }
  .princImag img {
    display: none;
  }
  .gapnone {
    gap: 0 !important;
  }
  .colmd {
    flex-direction: column !important;
  }
}
@media (max-width: 767px) {
  .fontsize {
    font-size: 30px;
  }
  .flexmdd {
    justify-content: center !important;
  }
}
.my-10 {
  margin-top: 80px;
  margin-bottom: 80px;
}
.btnfeat {
  color: white !important;
  font-weight: 500;
  background-color: #4caf4f !important;
  padding: 11px 20px;
  border-radius: 3px !important;
  border: 2px solid #4caf4f !important;
}
.btnfeat:hover {
  background-color: white !important;
  color: #4caf4f !important;
}
.fadeAnimationUpDown img {
  width: 300px;
}
.commSpan {
  color: #4caf4f;
}

.per h5 {
  margin-bottom: 0 !important;
  color: #4d4d4d !important;
  font-weight: 600 !important;
}
.per p {
  font-size: 12px !important;
  margin-bottom: 0 !important;
}
.community {
  background-color: #f5f7fa;
  padding-top: 80px;
  padding-bottom: 80px;
}
.princ {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f5f7fa;
}
.princImag img {
  width: 300px;
}
.position-absolute {
  left: 20px;
}
.w-85 {
  width: 85% !important;
  height: 70%;
}
.position-absolute h6 {
  font-size: 14px;
}
.sfooter {
  margin-top: 100px;
  background-color: #f5f7fa !important;
  padding-top: 22px;
  padding-bottom: 22px;
}
.footer {
  background-color: #0b0d17;
  padding-top: 80px;
  padding-bottom: 80px;
  color: white;
}
.list-unstyled li {
  font-size: 13px;
  color: #d9dbe1 !important;
}

.social span {
  background-color: #4d4d4d;
  padding: 5px 7px;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
